@import 'shared/reset';
@import 'shared/color';
@import 'shared/font';
@import 'shared/variables';
@import 'shared/mixin';
@import 'shared/breakpoint';
@import 'shared/animate';
@import 'shared/container';
@import 'shared/spotlight';

@import 'components/popup';
@import 'components/navbar';
@import 'components/footer';
@import 'components/sponsor-footer';

@import 'pages/home';
@import 'pages/agenda';
@import 'pages/venue';
@import 'pages/map';
@import 'pages/staff';
@import 'pages/sponsor';

@import 'theme/index';

body {
  &.theme-light {
    background-color: $white;
  }

  &.theme-dark,
  &.theme-rainbow-dark {
    background-color: $black;
  }
}

#app.main {
  width: 100%;

  &.popuped {
    overflow: hidden;

    > *:not(.popup-container) {
      filter: blur(5px);
    }
  }

  @include light;

  &.theme-dark,
  &.theme-rainbow-dark {
    @include dark;
  }
}

body {
  background-color: $white;

  &.popup-scrolling-lock {
    overflow: hidden;
  }
}