$black: #1c1c1c;
$dark-1: lighten(#12344c, 5%);
$dark-2: lighten($dark-1, 30%);
$dark-3: lighten($dark-1, 60%);
$dark-4: lighten($dark-1, 90%);
$gray: #9A9A9A;
$white: #ffffff;

$red: #F7615C;
$orange: #FB8241;
$yellow: #FABD40;
$green: #77B55A;
$blue: #479EFA;
$purple: #9E47FA;

$light-green: #A5D88E;
$dark-green: #5C794C;

$light-tone: $light-green;
$tone: $green;
$dark-tone: $dark-green;

$coscup-green: #3b9838;
$coscup-green-lighten: lighten($coscup-green, 10%);
$coscup-green-darken: darken($coscup-green, 10%);

$coscup-secondary: rgb(177, 215, 191);
