#app.main {
  .spotlight {
    background-color: $black;
    color: $white;
    padding: 64px 128px;
    clip-path: polygon(20px 20px, 100% 0%, 100% 100%, 0% 100%);
    margin: 42px 200px;
    min-height: 500px;

    &-container {
      width: 100%;
    }

    @media screen and (max-width: 1280px) {
      margin: 42px 100px;
      padding: 64px;
    }

    @media screen and (max-width: 675px) {
      width: 100%;
      min-height: auto;
      margin: 0;
      margin-bottom: 32px;
      padding: 32px 64px;
      clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    }

    @media screen and (max-width: 414px) {
      padding: 16px;
    }

    &.sharp-back-taton {
      position: relative;
      z-index: 1;

      p {
        z-index: 10;
      }

      &:before {
        position: absolute;
        content: "";
        bottom: 0;
        right: 2rem;
        width: 60%;
        padding-top: 60%;
        background-image: url("/2020/img/logo.svg");
        background-position: 100% 0%;
        background-repeat: no-repeat;
        opacity: 0.24;
        filter: brightness(1000%);
        pointer-events: none;
        z-index: 0;

        @media screen and (max-width: 1440px) {
          background-size: 70%;
        }

        @media screen and (max-width: 1200px) {
          background-size: 100%;
        }
      }
    }

    h1.title,
    h2.subtitle,
    p,
    ul,
    li,
    a,
    span {
      color: $white;
      text-align: left;
      line-height: 2;
    }

    a {
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      display: inline-block;
      padding: 0.5rem 1rem;
      border: solid 1px $white;
      border-radius: 25px;
      font-size: 1rem;
      font-weight: 600;
      transition: all 0.3s;

      &:hover {
        background-color: $coscup-green-lighten;
        transform: translateX(-50%) scale(1.05);
        border-color: $coscup-green-lighten;
        transition: all 0.3s;
      }
    }

    p,
    ul {
      margin: 32px 0;
      font-size: 1.2rem;

      li {
        padding: 4px 0;
      }

      @include mobile {
        font-size: 14px;
      }

      @media screen and (max-width: 675px) {
        margin: 16px 0;
        font-size: 12px;
      }
    }

    h1:first-child {
      margin-bottom: 0.5em;
    }

    h1.title {
      position: relative;
      font-size: 26px;
      line-height: 1.2;

      .prefix-icon {
        display: inline-block;
        width: 128px;
        height: auto;
      }

      @media screen and (max-width: 675px) {
        font-size: 20px;
      }

      @media screen and (max-width: 475px) {
        font-size: 18px;
      }
    }
  }
}
