@mixin dark {
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #12344c;
    z-index: -1;
  }
  @include container(#12344c, $white);
  @include navbar(#12344c, $dark-1, $coscup-green, $dark-3);
  @include navbarDarkIcon;

  @include footer(#12344c, $dark-4);
  @include agenda(#12344c, $dark-1, $coscup-green-lighten, $dark-4, $dark-1);
}