@mixin dark {
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: $dark;
    z-index: -1;
  }
  @include container($dark, $white);
  @include navbar($dark, $dark-1, $coscup-green, $dark-3);
  @include navbarDarkIcon;

  @include footer($dark, $dark-4);
  @include agenda($dark, $dark-1, $coscup-green-lighten, $dark-4, $dark-1);
  @include venue($dark-1, $white, $white);
  @include sponsor($dark-1, $white);
}