@mixin navbar(
  $backgroundColor,
  $backgroundColorHover,
  $fontColor,
  $fontColorLevel2
) {
  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: $navbar-height;
    z-index: 1000;
    background-color: rgba($backgroundColor, 0.7);
    backdrop-filter: blur(20px);
    box-shadow: 0 2px 4px rgba($dark-1, 0.25);
    transition: all ease-in-out 0.3s;

    @supports (-moz-animation: none) {
      background-color: $backgroundColor;
    }

    @include mobile {
      height: $navbar-height-mobile;
    }

    &-container {
      display: flex;
      height: 100%;
      padding: 0 1rem;

      .logo {
        display: flex;
        align-items: center;

        &-icon {
          display: inline-block;
          width: 48px;
          height: 48px;

          @include mobile {
            width: 32px;
            height: 32px;
          }
        }

        &-text {
          margin-left: 8px;

          &__conf {
            font-weight: 700;
            color: $fontColor;
          }

          &__2020 {
            margin-top: 4px;
            font-size: 12px;
            color: $fontColorLevel2;
          }
        }
      }

      .menu {
        margin-left: auto;
        color: $fontColor;
      }

      .toggle-button {
        display: none;

        @include mobile {
          display: inline-block;
          cursor: pointer;
          user-select: none;
          transform: scale(0.8);
        }
      }

      @media screen and (min-width: $mobile-max-width + 1) {
        .menu {
          &-container {
            height: 100%;
            display: flex;

            header {
              display: none;
            }
          }

          &-item {
            display: flex;
            justify-content: center;
            align-items: center;
            min-width: 60px;
            height: 100%;
            padding: 0 8px;

            &.language-switch {
              margin-left: auto;
              min-width: 30px;
              cursor: pointer;
              user-select: none;
              color: $fontColor;
            }

            span {
              position: relative;
              display: flex;
              justify-content: center;
              align-items: center;
              text-align: center;
              width: 100%;
              height: 100%;

              & .svg-inline--fa {
                margin-left: 4px;
                transform: scale(0.7) translateY(-1rem);
              }

              &:before {
                content: "";
                position: absolute;
                left: 50%;
                bottom: 0;
                transform: translateX(-50%);
                border-bottom: 4px solid $fontColor;
                width: 0;
                transition: all cubic-bezier(0.6, -0.28, 0.735, 0.045) 0.3s;
              }
            }

            &.active span:before {
              width: calc(100% + 16px);
            }

            &:hover {
              background: $backgroundColorHover;
            }
          }
        }
      }

      @include mobile {
        .menu {
          &-mask {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            background-color: rgba($backgroundColor, 0.6);
            z-index: 9999;
          }

          &-container {
            position: fixed;
            top: 0;
            right: max(-80vw, -300px);
            right: -80vw;
            max-width: 300px;
            width: 80vw;
            height: 100vh;
            background-color: $backgroundColor;
            display: flex;
            flex-direction: column;
            z-index: 99999;
            transition: right 0.3s;

            header {
              display: flex;
              height: $navbar-height-mobile;
              padding: 0 16px 32px 16px;

              .define-logo {
                display: flex;
                align-items: center;

                img.define-icon {
                  width: 32px;
                  height: 32px;
                }

                .define-text {
                  transform: scale(0.8);

                  .logo-text {
                    &__conf,
                    &__2020 {
                      font-size: 18px;
                    }
                  }
                }
              }

              .close-button-container {
                margin-left: auto;
                height: 48px;

                span {
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  width: 48px;
                  height: 48px;
                  font-size: 56px;
                  transform: rotate(45deg) translate(12px, -6px);
                  cursor: pointer;
                  user-select: none;
                }
              }
            }
          }

          &.toggled {
            .menu {
              &-mask {
                display: block;
              }

              &-container {
                right: 0;
              }
            }
          }

          &-item {
            display: flex;
            align-items: center;
            min-width: 70%;
            margin-left: auto;
            padding: 16px;
            border-radius: 10px;
            transform: skewX(-10deg) translateX(32px);
            margin-bottom: 0.5em;

            &.language-switch {
              margin-top: auto;
              transform: none;
              min-width: unset;
              color: $fontColor;
              cursor: pointer;

              span {
                margin-left: auto;
                transform: none;
              }

              &:hover {
                span {
                  margin-left: 0;
                }
              }
            }

            span {
              margin-left: auto;
              transform: skewX(10deg) translateX(-40px);
            }

            &:hover:not(.active) {
              color: $fontColor;
              background-color: $backgroundColorHover;
              transition: all 0.3s;
              &.language-switch {
                background-color: $backgroundColor;
              }
            }

            &:hover,
            &.active {
              background-color: $fontColor;
              color: $backgroundColor;

              span {
                font-weight: 900;
                margin-left: 30%;
                transition: all 0.3s;
              }
            }
          }
        }
      }
    }
  }
}

@mixin navbarDarkIcon {
  .define-text > img,
  .toggle-button {
    filter: invert(100%) grayscale(1);
  }
}
