@mixin agenda(
  $backgroundColor,
  $backgroundColorHover,
  $fontColor,
  $fontColorLevel2,
  $scheduleCellBackgroundColor
) {
  #agenda {
    &.main-container {
      padding-top: 0;
      padding-left: 0.75rem;
      padding-right: 0.75rem;
      background-color: $backgroundColor;
    }

    .days {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 2rem;
      background-color: $backgroundColor;

      .day {
        font-size: 2rem;
        padding: 1rem 2rem;
        border-bottom: 4px solid;
        border-color: transparent;
        cursor: pointer;
        transition: all 0.1s;

        &.active {
          border-color: $fontColor;
          transition: all 0.1s;
        }

        &.active,
        &:hover {
          color: $fontColor;
          transition: all 0.1s;
        }
      }

      @include mobile {
        width: 100%;
        position: fixed;
        bottom: 0;
        left: 0;
        padding: 0;
        justify-content: space-around;
        z-index: 999;
        border-top: solid 1px $backgroundColorHover;

        .day {
          width: 100%;
          text-align: center;
          font-size: 1rem;
          padding: 1rem 0.5rem;
        }
      }
    }

    .schedule {
      $schedule-width: calc(var(--length) * var(--cell-width));
      width: 100%;
      padding-bottom: 5rem;

      .rooms {
        &-container {
          position: sticky;
          top: $navbar-height;
          background-color: rgba($backgroundColor, 0.7);
          backdrop-filter: blur(20px);
          width: $schedule-width;
          z-index: 9;

          &::-webkit-scrollbar {
            display: none;
          }

          @include mobile {
            display: none;
          }
        }

        display: flex;

        .room {
          display: inline-flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: var(--cell-width);
          height: 100px;

          div:nth-child(1) {
            padding: 4px;
          }

          div:nth-child(2) {
            padding: 8px;
            font-size: 20px;
          }
        }
      }

      &-body {
        &-container {
          margin-top: 1rem;
        }

        width: $schedule-width;
        display: grid;

        @include mobile {
          &-container {
            margin-top: 0;
          }

          width: 100%;
        }

        .time-cell {
          display: none;
          padding: 1rem;
          background-color: rgba($backgroundColor, 0.7);
          backdrop-filter: blur(20px);
          position: sticky;
          top: $navbar-height-mobile;

          @include mobile {
            display: block;
            grid-column: 1 / span 2;
          }
        }
      }

      &-cell {
        cursor: pointer;
        padding: 2px;

        &-content {
          &-container {
            background-color: $scheduleCellBackgroundColor;
            height: 100%;
            padding: 1rem;
            border-radius: 5px;
          }

          overflow: scroll hidden;
          position: sticky;
          top: $navbar-height + 120px;
          color: $fontColorLevel2;
          @include mobile {
            position: static;
          }

          &::-webkit-scrollbar {
            display: none;
          }

          * {
            line-height: 1.25;
          }

          > *:not(:first-child) {
            margin-top: 0.5rem;
          }

          .track {
            color: $fontColor;
          }

          .title {
            font-size: 1.15rem;
            font-weight: 500;
          }

          .speakers {
            color: $fontColor;
            font-size: 0.8rem;
            font-weight: 900;

            li {
              display: inline;
              font-weight: 600;

              &:first-child::before {
                margin-top: 0.75rem;
                content: "by ";
                display: inline-block;
                font-weight: 400;
              }

              &:not(:first-child)::before {
                content: "„ÄÅ";
                font-weight: 400;
              }
            }

          }

          .difficulty__tag {
            display: inline-block;
            padding: 4px 8px;
            border-radius: 25px;
            font-size: 0.5rem;
            color: $white;

            &.beginner {
              background-color: lighten($coscup-green, 20);
            }

            &.skilled {
              background-color: lighten($coscup-green, 5);
            }

            &.advance {
              background-color: darken($coscup-green, 10);
            }
          }
          
          .room, .length, .language, .difficulty {
              vertical-align: middle;
              display: inline-block;

              &:not(.difficulty)::before {
                content: "";
                display: inline-block;
                width: 0.35rem;
                @include mobile {
                  width: 0.75rem;
                }
              }
          }
        }

        @include mobile {
          grid-column: 1 / span 2;
        }
      }
    }
  }
}
