html[lang="en"] {
  #app.main #home.main-container .info-container {
    max-width: 700px;
    flex-direction: row;
    .info {
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      span {
        font-size: 1.5rem;
        font-weight: 500;

        &:last-of-type {
          font-size: 5rem;
        }
      }
    }
    .tabs-wrapper {
      margin-top: 0;
      .tabs-container {
        flex-direction: column;
        align-items: flex-end;
      }
    }

    @include mobile {
      justify-content: center;
    }

    @media screen and (max-width: 750px) {
      flex-direction: column;
      .info {
        span {
          font-size: 1.5rem;
          font-weight: 500;
  
          &:last-of-type {
            font-size: 5rem;
          }
        }
      }
      .tabs-wrapper {
        margin-top: 3rem;
        .tabs-container {
          align-items: center;
        }
      }
    }
  }
}

#app.main {
  #home.main-container {
    overflow: hidden;
    padding-top: 0;

    .banner-container {
      position: relative;
      display: flex;
      justify-content: center;
      width: 100%;
      min-height: 500px;
      background-color: $dark-1;
      background-image: url("/2020/img/banner.svg");
      background-repeat: repeat;
      background-position: top -5px right -5px;
      background-size: 760px 510px;

      .logo-wrapper {
        position: absolute;
        top: 50%;
        left: 0;
        width: 80%;
        max-width: 50%;
        height: 250px;
        padding: 1rem 2rem;
        transform: translateY(-50%);
        background-color: rgba($dark-1, 0.95);
        box-sizing: border-box;

        .logo-container {
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          width: 90%;
          height: 100%;
          margin-left: auto;
          text-align: end;
          color: $coscup-green;

          h2 {
            font-size: 1.75rem;
            font-weight: 700;
          }

          .logo-content {
            width: 100%;

            & > * {
              box-sizing: border-box;
              display: inline-block;
              width: 50%;
              height: auto;
              padding-left: 1rem;
            }

            div {
              display: inline-flex;
              justify-content: flex-end;
              vertical-align: bottom;
              p {
                line-height: 1.25;
                font-weight: 700;
              }
            }
          }
        }

        @include mobile {
          max-width: 70%;
        }

        @media screen and (max-width: 675px) {
          max-width: 80%;
          height: 400px;

          .logo-container {
            margin-left: 0;

            h2 {
              font-size: 2.9rem;
              text-align: start;
            }

            .logo-content {
              img {
                width: 120px;
                max-width: 100%;
              }
              div {
                width: 100%;
                margin-top: 0.5rem;

                p {
                  width: 200px;
                  font-size: 0.5rem;
                }
              }
            }
          }
        }
      }
    }

    .info-container {
      display: flex;
      width: calc(100% - 200px * 2);
      margin-top: 5rem;
      margin-bottom: 2rem;

      .info {
        display: flex;
        align-items: center;
        color: $coscup-green;

        span {
          margin: 0 10px;
          font-size: 2rem;
        }
      }

      .tabs-wrapper {
        display: flex;
        margin-left: auto;

        .tabs-container {
          display: flex;

          .tab {
            display: block;
            padding: 1rem 0;
            color: $coscup-green;
            margin-left: 1rem;
            cursor: pointer;
            transition: all 0.2s;
            font-size: 2rem;

            span {
              position: relative;
              padding: 0 0.25rem;

              &::before, &::after  {
                content: "";
                position: absolute;
                left: 50%;
                bottom: -5px;
                width: 90%;
                height: 3px;
                background-color: currentColor;
                transform: translate(-50%, 0);
                transition: all 0.1s;
              }

              &::after {
                width: 0;
              }
            }

            &:hover {
              span {
                color: $coscup-green-lighten;
                transition: all 0.1s;
                &::after {
                  width: 100%;
                  transition: all 0.1s;
                }
              }
            }
          }
        }
      }

      @media screen and (max-width: 1280px) {
        flex-direction: column;
        width: calc(100% - 100px * 2);

        .info span {
          font-size: 3rem;
        }

        .tabs-wrapper {
          margin-top: 3rem;
        }
      }

      @include mobile {
        align-items: center;

        .info span {
          font-size: 1.75rem;
        }

        .tabs-wrapper {
          margin-top: 2rem;
          margin-left: 0;
          .tabs-container {
            .tab {
              margin-left: 0;
              padding: 1rem 2rem;
              font-size: 1.5rem;
            }
          }
        }
      }

      @media screen and (max-width: 675px) {
        width: calc(100% - 32px * 2);
        margin: 3rem 0;
      }

      @media screen and (max-width: 550px) {
        .info {
          flex-direction: column;

          span {
            margin: 3px 0;

            &:last-of-type {
              font-size: 1.75rem;
            }
          }
        }

        .tabs-wrapper {
          .tabs-container {
            .tab {
              font-size: 1.2rem;
              padding: 0.5rem 0.5rem;
            }
          }
        }
      }
    }

    .spotlight {
      background-color: $coscup-green;

      h1.title {
        display: flex;
        align-items: center;
        text-align: start;

        .prefix-icon {
          margin-right: 1rem;
          display: inline-block;
          width: 128px;
          height: auto;
        }
      }

      .prefix-icon {
        filter: brightness(1000%);
      }

      p {
        text-align: left;
      }

      ul {
        list-style-type: initial;
        list-style-position: outside;
        margin-left: 16px;
      }
    }
  }
}
