#app.main {
  #home.main-container {
    overflow: hidden;

    @media screen and (max-width: 475px) {
      margin-top: 0;
    }

    .info {
      max-width: 700px;
      width: calc(100% - 42px * 2);
      display: flex;

      .logo-container {
        text-align: center;
        img {
          display: inline-block;
          width: 400px;
        }
      }

      .tabs-container {
        margin-top: auto;
        margin-bottom: auto;
        margin-left: auto;
        display: flex;
        flex-direction: column;

        .tab {
          display: block;
          padding: 20px 45px;
          font-size: 1.2rem;
          color: $white;
          background-color: $coscup-green;
          border-top-left-radius: 20px;
          margin: 16px 0;
          cursor: pointer;
          transform: skewX(-10deg);
          transition: all 0.1s;

          span {
            display: inline-block;
            transform: skewX(10deg);
          }

          &:hover {
            background-color: $coscup-green-lighten;
            transition: all 0.1s;
          }
        }
      }

      @media screen and (max-width: 675px) {
        flex-direction: column;

        .logo-container img {
          width: 100%;
        }

        .tabs-container {
          margin-left: 0;
          text-align: center;
          padding: 32px 3rem;

          .tab {
            padding: 1rem;
          }
        }
      }
    }

    .spotlight {
      background-color: $coscup-green;

      h1.title {
        display: flex;
        align-items: center;
        text-align: start;
        
        .prefix-icon {
          margin-right: 1rem;
          display: inline-block;
          width: 128px;
          height: auto;
        }
      }

      .prefix-icon {
        filter: brightness(1000%);
      }

      p {
        text-align: left;
      }

      ul {
        list-style-type: initial;
        list-style-position: outside;
        margin-left: 16px;
      }
    }
  }
}
