@mixin staff($backgroundColor, $fontColor, $borderColor) {
  #staff {
    &.main-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
    }

    .group-box {
      position: relative;
      width: 100%;
      display: flex;
      flex-direction: column;
      padding: 3em 200px;
      color: $fontColor;

      @include mobile {
        padding: 1rem;
      }

      &:nth-child(odd) {
        background-color: transparent;
      }

      &:nth-child(even) {
        background-color: $backgroundColor;
      }

      .group-name {
        font-size: 1.75rem;
        font-weight: 500;
        padding-bottom: 2rem;
      }

      .staff-wrapper {

        .staff {
          display: inline-flex;
          flex-direction: column;
          align-items: center;
          margin-bottom: 1.5em;
          width: 180px;

          @media screen and (max-width: 1280px) {
            width: 140px;
          }

          @media screen and (max-width: 960px) {
            width: 120px;
          }

          @media screen and (max-width: 675px) {
            width: 100px;
          }

          @media screen and (max-width: 414px) {
            width: 95px;
          }

          @media screen and (max-width: 375px) {
            width: 80px;
          }

          @media screen and (max-width: 320px) {
            width: 90px;
          }

          .staff-avatar {
            object-fit: contain;
            width: 100px;
            height: 100px;

            @media screen and (max-width: 960px) {
              width: 90px;
              height: 90px;
            }

            @media screen and (max-width: 675px) {
              width: 80px;
              height: 80px;
            }

            @media screen and (max-width: 475px) {
              width: 70px;
              height: 70px;
            }

            @media screen and (max-width: 375px) {
              width: 65px;
              height: 65px;
            }

            border-radius: 50%;
            background-color: $dark-3;
            border: rgba($borderColor, 0.3) 2px solid;
          }

          p {
            padding-top: 0.5rem;
            font-size: 0.85rem;
            text-align: center;
          }
        }
      }
    }
  }
}
