.venue {
  &.main-container {
    padding: 0 !important;
  }

  .plan-container {
    padding: 2rem 0;
    max-width: 80%;
    column-count: 2;

    .plan {
      display: inline-block;
      padding: 2rem;
      margin: 1rem 0.5rem;
      background-color: $white;
      color: $black;
      border-radius: 10px;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

      h3 {
        font-size: 1.5rem;
      }

      * {
        line-height: 2;
      }

      ul,
      ol {
        padding-inline-start: 1.5rem;

        li {
          line-height: 2;
        }
      }

      ul {
        list-style-type: disc;
        ul {
          list-style-type: circle;
          ul {
            list-style-type: square;
          }
        }
      }
    }

    @include mobile {
      column-count: 1;
      max-width: 100%;

      .plan {
        padding: 1.5rem;
      }
    }
  }
}
